.pixel-blast-container {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.pixel-blast-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}