@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE và Edge */
    scrollbar-width: none;     /* Firefox */
  }
}

/* cho mọi scroll đều mượt */
html {
  scroll-behavior: smooth;
}
